{% extends 'news/base.html' %}


{% block title %} Login sahifasi {% endblock title %}


{% block content %}

    <h2>Вход на сайт</h2>
    <p>Чтобы войты на сайт пополните форму</p>

    <h5>Забыли пароль?</h5>
    <h6>Востановить парол с помощью <a href="{% url 'password_reset' %}" style="color:red">email</a></h6>

    <form method="post">{% csrf_token %}
         {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
<h4>Agar ro'yxatdan o'tmagan bo'lsangiz <a href="{% url 'user_register' %}" style="color:green">ro'yxatdan otish</a>ingiz mumkun </h4>
{% endblock content %}